# Repository line-ending policy
* text=auto

# Terraform
*.tf text eol=lf
*.tfvars text eol=lf

# Terraform state and local working files
*.tfstate text eol=lf
*.tfstate.* text eol=lf

# Markdown and documentation
*.md text eol=lf

# YAML
*.yml text eol=lf
*.yaml text eol=lf